<h1>Edit Content element</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_element_path(@conn, :update, @content_element)) %>

<span><%= link "Back", to: Routes.content_element_path(@conn, :index) %></span>
