<h1>New Visual component</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.visual_component_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.visual_component_path(@conn, :index) %></span>
