<h1>Edit Content publication</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_publication_path(@conn, :update, @content_publication)) %>

<span><%= link "Back", to: Routes.content_publication_path(@conn, :index) %></span>
