<h1>Edit Site publication</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.site_publication_path(@conn, :update, @site_publication)) %>

<span><%= link "Back", to: Routes.site_publication_path(@conn, :index) %></span>
