<h1>Edit Content type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_type_path(@conn, :update, @content_type)) %>

<span><%= link "Back", to: Routes.content_type_path(@conn, :index) %></span>
