<h1>New Content type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_type_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.content_type_path(@conn, :index) %></span>
