<h1>New Content basetype</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.content_basetype_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.content_basetype_path(@conn, :index) %></span>
