<h1>Show Page layout</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @page_layout.name %>
  </li>

  <li>
    <strong>Data:</strong>
    <%= @page_layout.data %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.page_layout_path(@conn, :edit, @page_layout) %></span>
<span><%= link "Back", to: Routes.page_layout_path(@conn, :index) %></span>
