<h1>Edit Functional component</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.functional_component_path(@conn, :update, @functional_component)) %>

<span><%= link "Back", to: Routes.functional_component_path(@conn, :index) %></span>
